<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup> 

  <appSettings>
    <add key="RulesEngine" value="Data Source=LouDvSql002.zCloud.com;Initial Catalog=claimsXP;Persist Security Info=True;Integrated Security=SSPI;"/>
    <add key="RuleEngineCompiler" value="CSCRuleEngine"/>
    <!--<add key="RuleEngineCompiler" value="RoslynRuleEngine"/>-->
  </appSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-2.0.0.668" newVersion="2.0.0.668"/>
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
